<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<title></title>
<meta name="language" content="ja" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="ROBOTS" content="NOINDEX,NOFOLLOW,NOARCHIVE">
<meta name="description" content="" />
<meta name="keywords" content="" lang="ja" />
<link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
<div id="header" class="split">ここはヘッダです。</div>
<div id="main-contents" class="split">$main</div>
<div id="footer" class="split">ここはフッターです。</div>
</body>
</html>
